R2DBC_URL=r2dbc:postgresql://postgresql:5432
DB_NAME=joboffers
DB_PASSWORD=joboffers
DB_USER=joboffers
JDBC_URL=jdbc:postgresql://postgresql:5432/joboffers
SERVER_PORT=8080
COMPANIES_SERVICE_URL=http://companies:3000
JOBS_SERVICE_URL=http://jobs:8080
